<!doctype html>
<html lang="en" ng-app="restoApp">
<head>
  <meta charset="utf-8">
  <title>{%block title %}Restaurant{% endblock %}</title>
  {% load staticfiles %}

  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/style.css" %}" rel="stylesheet">

  <script src="{% static "js/include/jquery-2.1.3.min.js"%}"></script>
  <script src="{% static "js/include/bootstrap.min.js"%}"></script>
  <script src="{% static "js/include/underscore-min.js" %}"></script>
  <script src="{% static "js/include/angular.min.js"%}"></script>
  <script src="{% static "js/include/ui-bootstrap-0.12.0.min.js"%}"></script>

  <script src="{% static "js/app.js" %}"></script>
  <script src="{% static "js/user_controllers.js" %}"></script>
  <script src="{% static "js/resto_controllers.js" %}"></script>
  <script src="{% static "js/services.js" %}"></script>

  <script>CSRF_TOKEN = '{{ csrf_token }}';
    auth = '{{user.is_authenticated}}';
    username = '{{user.first_name}}';
    staff = '{{user.is_staff}}';
    superuser = '{{user.is_superuser}}';
  </script>
</head>

<body ng-controller="RootController">
  <div class="container">
    <div class="header">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Restaurant</a>
          </div>
          <div class="collapse navbar-collapse">
            <!--admin navbar-->
            <ul class="nav navbar-nav" ng-if="is_superuser">
              <li>
                <a href="#/admin/resto">restaurants</a>
              </li>
              <li>
                <a href="#/admin/users">restaurateurs</a>
              </li>
            </ul>
            <!--restaurateur navbar-->
            <ul class="nav navbar-nav" ng-if="is_staff && !is_superuser">
              <li>
                <a href="#/manage/resto">restaurants</a>
              </li>
            </ul>

            <p class="navbar-text">
              <div ng-show="auth" class="login">
                hello,
                <a href="#/profile" class="navbar-link">
                  {% verbatim %}{{ username }}{% endverbatim %}
                </a>
                -
                <a ng-click="logout()" class="navbar-link">logout</a>
              </div>
              <div ng-hide="loggingin || auth" class="login">
                <a ng-click="loggingin = !loggingin" class="navbar-link">login</a>
              </div>
              <div ng-show="loggingin" class="form-inline">
                <input type="text" class="form-control"
                       ng-model="loginform.username" placeholder="email">
                <input type="password" class="form-control"
                       ng-model="loginform.password" placeholder="password">
                <button class="btn btn-success" ng-click="login()">login</button>
                <a ng-click="loggingin = false" href="#/register" class="btn btn-default" >register</a>
              </div>
            </p>
          </div>
        </div>
      </nav>
    </div>

    <div ng-view></div>

  </div>
</body>
</html>
