<!doctype html>
<html lang="en" ng-app="restoApp">
<head>
  <meta charset="utf-8">
  <title>{%block title %}Restaurant{% endblock %}</title>
  {% load staticfiles %}

  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/style.css" %}" rel="stylesheet">

  <script src="{% static "js/include/jquery-2.1.3.min.js"%}"></script>
  <script src="{% static "js/include/bootstrap.min.js"%}"></script>
  <script src="{% static "js/include/underscore-min.js" %}"></script>
  <script src="{% static "js/include/angular.min.js"%}"></script>
  <script src="{% static "js/include/angular-gettext.min.js"%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js"></script>
  <script src="{% static "js/include/ui-bootstrap-tpls-0.12.1.min.js"%}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

  
  
  <script src="{% static "js/app.js" %}"></script>
  <script src="{% static "js/user_controllers.js" %}"></script>
  <script src="{% static "js/resto_controllers.js" %}"></script>
  <script src="{% static "js/menu_controllers.js" %}"></script>
  <script src="{% static "js/home_controllers.js" %}"></script>
  <script src="{% static "js/commande_controllers.js" %}"></script>
  <script src="{% static "js/services.js" %}"></script>
  <script src="{% static "js/translations.js" %}"></script>

  <script>CSRF_TOKEN = '{{ csrf_token }}';
  auth = '{{ user.is_authenticated }}';</script>
</head>

<body ng-controller="RootController">
  <div class="container">
    <div class="header">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Restaurant</a>
          </div>
          <div class="collapse navbar-collapse">
            <!--entrepreneur navbar-->
            <ul class="nav navbar-nav" ng-if="profile.is_entrepreneur || profile.is_admin">
              <li>
                <a href="#/admin/resto" translate>restaurants</a>
              </li>
              <li>
                <a href="#/admin/users" translate>restaurateurs</a>
              </li>
            </ul>
            <!--restaurateur navbar-->
            <ul class="nav navbar-nav" ng-if="profile.is_restaurateur && !profile.is_entrepreneur">
              <li>
                <a href="#/manage/resto" translate>restaurants</a>
              </li>
            </ul>

            <p class="navbar-text">

              <div ng-show="profile" class="login">
                <translate>hello,</translate>
                <a href="#/profile" class="navbar-link">
                  {% verbatim %}{{ profile.user.first_name }}{% endverbatim %}
                </a>
                -
                <a ng-click="logout()" class="navbar-link" translate>logout</a>
              </div>

              <div ng-hide="loggingin || profile" class="login">
                <a ng-click="loggingin = !loggingin" class="navbar-link" translate>login</a>
              </div>

              <div ng-show="loggingin" class="form-inline">
                <input type="text" class="form-control"
                       ng-model="loginform.username" placeholder="email">
                <input type="password" class="form-control"
                       ng-model="loginform.password" placeholder="password">
                <button class="btn btn-success" ng-click="login()" translate>login</button>
                <a ng-click="loggingin = false" href="#/register" class="btn btn-default" translate>register</a>
              </div>
            </p>
          </div>
        </div>
      </nav>
    </div>

    <div ng-view></div>

  </div>
</body>
</html>
