
<div ng-hide="profiles">Loading...</div>
<table ng-show="profiles" class="table">
  <tr>
    <th>email</th>
    <th>first name</th>
    <th>last name</th>
    <th>adresse</th>
    <th>telephone</th>
    <th>date de naissance</th>
    <th>restaurateur</th>
    <th>admin</th>
  </tr>

  <tr ng-repeat="profile in profiles">
    <td ng-hide="profile.backup">{{ profile.user.username }}</td>
    <td ng-hide="profile.backup">{{ profile.user.first_name }}</td>
    <td ng-hide="profile.backup">{{ profile.user.last_name }}</td>
    <td ng-hide="profile.backup">{{ profile.adresse }}</td>
    <td ng-hide="profile.backup">{{ profile.telephone }}</td>
    <td ng-hide="profile.backup">{{ profile.date_naissance }}</td>
    <td ng-hide="profile.backup">{{ profile.user.is_staff }}</td>
    <td ng-hide="profile.backup">{{ profile.user.is_superuser }}</td>
    <td ng-hide="profile.backup">
      <button class="btn btn-xs" ng-click="edit(profile)">Edit</button>
      <button class="btn btn-xs btn-danger" ng-click="delete(profile)">Remove</button>
    </td>

    <td ng-show="profile.backup"><input ng-model="profile.user.username"/></td>
    <td ng-show="profile.backup"><input ng-model="profile.user.first_name"/></td>
    <td ng-show="profile.backup"><input ng-model="profile.user.last_name"/></td>
    <td ng-show="profile.backup"><input ng-model="profile.adresse"/></td>
    <td ng-show="profile.backup"><input ng-model="profile.telephone"/></td>
    <td ng-show="profile.backup"><input ng-model="profile.date_naissance"/></td>
    <td ng-show="profile.backup">
      <input type="checkbox" ng-model="profile.user.is_staff"/>
    </td>
    <td ng-show="profile.backup">
      <input type="checkbox" ng-model="profile.user.is_superuser"/>
    </td>

    <td ng-show="profile.backup">
      <button class="btn btn-xs btn-success"
              ng-click="save(profile)">Save</button>
      <button class="btn btn-xs btn-danger"
              ng-click="cancel(profile)">Cancel</button>
    </td>
  </tr>
</table>

<div>
<h3>Ajouter Restaurateur</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">First name:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.first_name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Last name:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.last_name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Adresse:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.adresse">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Birthday:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.date_naissance">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Telephone Number:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.telephone">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password:</label>
    <div class="col-sm-10">
      <input class="form-control" type="password" ng-model="userform.password">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Restaurant:</label>
    <div class="col-sm-2">
      <select class="form-control"
              ng-model="selected_resto"
              ng-change="userform.resto = selected_resto.value"
              ng-options="resto as resto.label for resto in options"/>
    </div>
  </div>
</form>
<button class="btn btn-success" ng-click="submit(true)" style="float:right">Submit</button>
</div>
