<h1>Menu</h1>
<div ng-repeat="menu in current_resto.menu.sous_menus">

  <h4>{{ menu.name }}</h4>
  <table class="table">
    <tr>
      <th style="width:250px">Nom</th>
      <th>Description</th>
      <th style="width:50px">Prix</th>
      <th style="width:150px"></th>
    </tr>
    <tr ng-repeat="item in menu.items">
      <td>{{ item.name }}</td>
      <td>{{ item.desc }}</td>
      <td>{{ item.price }}$</td>
      <td><button class="btn btn-primary"
                  style="float:right"
                  ng-click="add_item(item)">
          ajouter</button></td>
    </tr>
  </table>
</div>


<div class="row" ng-hide="order.details.commande.length == 0">
  <h2>votre commande</h2>
  <div class="col-md-6">
    <div>
      <table class="table">
        <tr>
          <th style="width:250px">Nom</th>
          <th style="width:250px">Quantité</th>
          <th style="width:50px">Prix</th>
        </tr>
        <tr ng-repeat="item in order.details.commande">
          <td>{{ item.name }}</td>
          <td>
            <div class="input-group spinner">
              <input type="text" class="form-control" ng-model="item.qty">
              <div class="input-group-btn-vertical">
                <button class="btn btn-default dropup"
                        ng-click="qty_adjust(item, 1)">
                  <span class="caret"/></button>
                <button class="btn btn-default"
                        ng-click="qty_adjust(item, -1)">
                  <span class="caret"/></button>
              </div>
            </div>
          </td>
          <td>{{ item.price * item.qty}}$
            <button class="btn btn-danger"
                    style="float:right"
                    ng-click="remove_item(item)">
              enlever</button>
          </td>
        </tr>
        <tr>
          <th style="width:250px">Total</th>
          <th style="width:50px"></th>
          <th style="width:250px">{{ total() }}$</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6 jumbotron" style="padding:15px">
    <h3>Moment de la livraison</h3>
    <div class="col-md-6" style="padding-top: 34px;">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
               ng-model="$parent.order.details.requestedTime" is-open="opened"
               min-date="minDate" max-date="'2015-06-22'" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <timepicker ng-model="$parent.order.details.requestedTime"
                hour-step="hstep" minute-step="mstep"
                show-meridian="true"></timepicker>

    <h3>Adresse de livraison</h3>
    <div class="form-group">
      <div class="radio" ng-repeat="ad in profile.adresse">
        <label>
          <input type="radio" name="address" ng-model="order.details.addressTo" value="{{ad}}"/>
          {{ad}}
          <br/>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="address"
                 ng-model="order.details.addressTo" value="##new"/>
          <span ng-hide="order.details.addressTo == '##new'">
            Nouvelle adresse</span>
          <input ng-show="order.details.addressTo == '##new'"
                 ng-model="new_address"/>
          <br/>
        </label>
      </div>
    </div>
    <button class="btn btn-lg btn-success"
            style="float:right" ng-click="place_order()">
      Envoyer Commande
    </button>
  </div>
</div>
