<h1 translate>Order management</h1>

<table class="table">
  <tr>
    <th style="width:100px" translate>status</th>
    <th translate>Order</th>
    <th translate>requested delivery time</th>
    <th></th>
  </tr>
  <tr ng-repeat="commande in filtered(commandes, ['ready', 'preparing', 'paid'])">
    <td>
      <span ng-show="commande.status == 'pending'" class="label label-danger" translate>
        Waiting</span>
      <span ng-show="commande.status == 'preparing'" class="label label-warning" translate>
        In preparation</span>
      <span ng-show="commande.status == 'ready'" class="label label-success" translate>
        Ready</span>
    </td>
    <td>
      <div ng-repeat="item in commande.details.commande">
        {{item.qty}}
        {{item.name}}
      </div>
    </td>
    <td>{{commande.details.requestedTime | date:'MM/dd/yyyy - hh:mm'}}</td>
    <td>
      <button class="btn btn-xs btn-info" style="float:right"
              ng-click="update_status(commande, 'preparing')"
              ng-show="commande.status == 'paid'" translate>
        Start preparation</button>
      <button class="btn btn-xs btn-info" style="float:right"
              ng-click="update_status(commande, 'ready')"
              ng-show="commande.status == 'preparing'" translate>
        Finish preparation
      </button>
    </td>
  <tr>
</div>
