<h1>Register</h1>

<ul>
 <li>email: <input type="text" ng-model="userform.email"></li>
 <li>firstname: <input type="text" ng-model="userform.firstname"></li>
 <li>lastname: <input type="text" ng-model="userform.lastname"></li>
 <li>address: <input type="text" ng-model="userform.adress"></li>
 <li>birthday: <input type="text" ng-model="userform.birthday"></li>
 <li>telephone number: <input type="text" ng-model="userform.tel"></li>
 <li>password: <input type="password" ng-model="userform.password"></li>
 <li><button class="btn btn-success" ng-click="submit()">Submit</button></li>
<ul>


