<div>
  <table class="table">
    <tr>
      <th translate>Name</th>
      <th translate>address</th>
      <th translate>restaurateur</th>
      <th translate>Menu</th>
    </tr>
    <tr ng-repeat="resto in restos">
      <!-- restaurant display -->
      <td>
        <span ng-hide="resto.backup">{{ resto.name }}</span>
        <input ng-show="resto.backup" ng-model="resto.name"/>
      </td>
      <td>
        <span ng-hide="resto.backup">{{ resto.address }}</span>
        <input ng-show="resto.backup" ng-model="resto.address"/>
      </td>

      <td>
        <span ng-hide="resto.backup">{{ resto.user.username || 'None'}}</span>
        <select ng-show="resto.backup" ng-model="resto.new_user"
                ng-options="staff as staff.label for staff in options"/>
      </td>

      <td>
        {{ resto.menu.sous_menus.length || 0 }} menus
        <a ng-show="resto.backup" class="btn btn-xs btn-success" ng-href="#/manage_menu/{{resto.pk}}">change menu</a>
      </td>

      <td>
        <span ng-hide="resto.backup">
          <button class="btn btn-success btn-xs" ng-click="edit_resto(resto)" translate>
            Edit</button>
          <button class="btn btn-danger btn-xs" ng-click="delete_resto(resto)" translate>
            Remove</button>
        </span ng-show="resto.backup">

        <span ng-show="resto.backup">
          <button class="btn btn-success btn-xs" ng-click="save_resto(resto)" translate>
            Save</button>
          <button class="btn btn-danger btn-xs" ng-click="cancel_resto(resto)" translate>
            Cancel</button>
        </span>
      </td>
    </tr>

    <!--restaurant addition-->
    <tr>
      <td><input type="text" ng-model="new_resto.name"></td>
      <td><input type="text" ng-model="new_resto.address"/></td>

      <td><select ng-model="selected_staff"
                  ng-change="new_resto.user = selected_staff.value"
                  ng-options="staff as staff.label for staff in options"/></td>
      <td translate>menu...</td>
      <td>
        <button class="btn btn-success btn-xs" ng-click="create_resto()" translate>add</buton>
      </td>
    </tr>
  </table>
</div>
