
<div ng-hide="profiles" translate>Loading...</div>
<table ng-show="profiles" class="table table-responsive table-condensed profiles">
  <tr>
    <th translate>email</th>
    <th translate>first name</th>
    <th translate>last name</th>
    <th translate>adresse</th>
    <th style="width:100px" translate>telephone</th>
    <th style="width:110px" translate>birthday</th>
    <th style="width:128px" translate>permissions</th>
    <th style="width:115px" translate></th>
  </tr>

  <tr ng-repeat="prof in profiles">
    <td ng-hide="prof.backup">{{ prof.user.username }}</td>
    <td ng-hide="prof.backup">{{ prof.user.first_name }}</td>
    <td ng-hide="prof.backup">{{ prof.user.last_name }}</td>
    <td ng-hide="prof.backup">{{ prof.adresse }}</td>
    <td ng-hide="prof.backup">{{ prof.telephone }}</td>
    <td ng-hide="prof.backup">{{ prof.date_naissance }}</td>
    <td ng-hide="prof.backup">
      <span ng-if="prof.is_admin" translate>admin</span>
      <span ng-if="prof.is_entrepreneur" translate>entrepreneur</span>
      <span ng-if="prof.is_restaurateur" translate>restaurateur</span>
      <span ng-if="prof.is_livreur" translate>delivery man</span>
    </td>
    <td ng-hide="prof.backup">
      <button class="btn btn-xs" ng-click="edit(prof)" translate>Edit</button>
      <button ng-disabled="profile.is_entrepreneur && (prof.is_admin || prof.is_entrepreneur)"
              class="btn btn-xs btn-danger" ng-click="remove(prof)" translate>Remove</button>
    </td>

    <td ng-show="prof.backup">
      <input style="width:100%;" ng-model="prof.user.username"/></td>
    <td ng-show="prof.backup"><input ng-model="prof.user.first_name"/></td>
    <td ng-show="prof.backup"><input ng-model="prof.user.last_name"/></td>
    <td ng-show="prof.backup">{{prof.adresse}}</td>
    <td ng-show="prof.backup"><input ng-model="prof.telephone"/></td>
    <td ng-show="prof.backup"><input ng-model="prof.date_naissance"/></td>
    <td ng-show="prof.backup">
      <label><input type="checkbox" ng-model="prof.is_entrepreneur" style="width: 30px"
                    ng-disabled="profile.is_entrepreneur"/>entrepreneur</label><br/>
      <label><input type="checkbox" ng-model="prof.is_restaurateur" style="width: 30px"/><translate>restaurateur</translate></label><br/>
      <label><input type="checkbox" ng-model="prof.is_livreur" style="width: 30px"/><translate>livreur</translate></label><br/>
    </td>

    <td ng-show="prof.backup">
      <button class="btn btn-xs btn-success"
              ng-click="save(prof)" translate>Save</button>
      <button class="btn btn-xs btn-danger"
              ng-click="cancel(prof)" translate>Cancel</button>
    </td>
  </tr>
</table>

<div>
<h3>Ajouter Restaurateur</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>Email:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.user.email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>First name:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.user.first_name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>Last name:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.user.last_name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>Address:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.adresse">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>Birthday:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.date_naissance">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>Telephone Number:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" ng-model="userform.telephone">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" translate>Password:</label>
    <div class="col-sm-10">
      <input class="form-control" type="password" ng-model="userform.user.password">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" translate>Restaurant:</label>
    <div class="col-sm-2">
      <select class="form-control"
              ng-model="selected_resto"
              ng-change="userform.resto = selected_resto.value"
              ng-options="resto as resto.label for resto in options"/>
    </div>
  </div>
</form>
<button class="btn btn-success" ng-click="submit(true)" style="float:right" translate>Submit</button>
</div>
